/*phpcs:ignoreFile*/
.toolbar-icon-system-admin-admission-requirements:before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 683 683' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg%3E%3Cg%3E%3Cpath d='M214.667,203.867l253.6,-0c14.4,-0 26.133,-9.467 26.133,-21.334c0,-2 -18.8,-110.266 -18.8,-110.266c-1.733,-10.534 -12.8,-18.4 -25.867,-18.4l-82.266,0.133l-0,-18c-0,-11.733 -11.734,-21.333 -26.134,-21.333c-14.4,-0 -26.133,9.466 -26.133,21.333l0,18.133l-82.4,0.134c-13.067,-0 -24,7.866 -25.867,18.4l-18.266,107.066c-1.6,19.067 18,24.134 26,24.134Z' style='fill:%23787878;fill-rule:nonzero;'/%3E%3Cpath d='M570,105.2l-35.733,0c-0,0 12.4,71.333 12.4,77.333c-0,40.534 -35.2,73.6 -78.4,73.6l-253.6,0c-26.134,0.534 -84.4,-19.6 -77.467,-85.2l11.2,-65.6l-35.733,0c-14.4,0 -26.134,11.734 -26.134,26.134l0,510.533c0,14.4 11.734,26.133 26.134,26.133l457.333,0c14.4,0 26.133,-11.733 26.133,-26.133l0,-510.667c0,-14.4 -11.733,-26.133 -26.133,-26.133Zm-102,426.8l-253.333,0c-14.4,0 -26.134,-11.733 -26.134,-26.133c0,-14.4 11.734,-26.134 26.134,-26.134l253.333,0c14.4,0 26.133,11.734 26.133,26.134c0,14.4 -11.6,26.133 -26.133,26.133Zm0,-147.067l-253.333,0c-14.4,0 -26.134,-11.733 -26.134,-26.133c0,-14.4 11.734,-26.133 26.134,-26.133l253.333,-0c14.4,-0 26.133,11.733 26.133,26.133c0,14.4 -11.6,26.133 -26.133,26.133Z' style='fill:%23787878;fill-rule:nonzero;'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.toolbar-icon-system-admin-admission-requirements:active:before,
.toolbar-icon-system-admin-admission-requirements.is-active:before {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 512 512'%3E%3Cg%3E%3Cg%3E%3Cpath d='m161,152.9h190c0.1,0 0.1,0 0.2,0 10.8,0 19.6-7.1 19.6-16 0-1.5-14.1-82.7-14.1-82.7-1.3-7.9-9.6-13.8-19.4-13.8l-61.7,.1v-13.5c0-8.8-8.8-16-19.6-16-10.8,0-19.6,7.1-19.6,16v13.6l-61.8,.1c-9.8,0-18,5.9-19.4,13.8l-13.7,80.3c-1.2,14.3 13.5,18.1 19.5,18.1z'/%3E%3Cpath d='m427.5,78.9h-26.8c0,0 9.3,53.5 9.3,58 0,30.4-26.4,55.2-58.8,55.2h-190.2c-19.6,0.4-63.3-14.7-58.1-63.9l8.4-49.2h-26.8c-10.8,0-19.6,8.8-19.6,19.6v382.9c0,10.8 8.8,19.6 19.6,19.6h343c10.8,0 19.6-8.8 19.6-19.6v-383c0-10.8-8.8-19.6-19.6-19.6zm-76.5,320.1h-190c-10.8,0-19.6-8.8-19.6-19.6 0-10.8 8.8-19.6 19.6-19.6h190c10.8,0 19.6,8.8 19.6,19.6 0,10.8-8.7,19.6-19.6,19.6zm0-110.3h-190c-10.8,0-19.6-8.8-19.6-19.6 0-10.8 8.8-19.6 19.6-19.6h190c10.8,0 19.6,8.8 19.6,19.6 0,10.8-8.7,19.6-19.6,19.6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

