<h1>{{ attributes.program_name.value }} admission requirements for {{ attributes.system_name }}
  {{ attributes.is_international.value or attributes.is_transfer ? '' : 'high school' }} students</h1>

{% if attributes.transfer_average | length %}
  <h2>{{ attributes.transfer_average.name }}</h2>
  <p>{{ attributes.transfer_average.description | raw }}</p>
{% endif %}

{% for req in attributes.requirements %}
  <h2>{{ req.name }}</h2>
  <p>{{ req.description | raw}}</p>
{% endfor %}

{% if attributes.transfer_general | length %}
  <h2>{{ attributes.transfer_general.name }}</h2>
  <p>{{ attributes.transfer_general.description | raw }}</p>
{% endif %}

{% if attributes.program_notes | length %}
  <h2>Program Notes</h2>
  <p>{{ attributes.program_notes.value | raw }}</p>
{% endif %}

{% if attributes.ap_requirement | length %}
  <h2>{{ attributes.ap_requirement.name }}</h2>
  <p>{{ attributes.ap_requirement.description | raw }}</p>
{% endif %}

{% if attributes.more_info | length %}
  <h2>For more information</h2>
  <p>{{ attributes.more_info.value | raw }}</p>
{% endif %}
