{#
/**
 * @file program_entity.html.twig
 * Default theme implementation to present Program entity data.
 *
 * This template is used when viewing Program entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_program_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('program_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
