{#
/**
 * @file requirement_entity.html.twig
 * Default theme implementation to present Requirement entity data.
 *
 * This template is used when viewing Requirement entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_requirement_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('requirement_entity') }}>
  {% if content %}
    <h2>Requirement Type</h2>
    <h4>{{ elements.name['#bundle'] }}</h4>
    <br>
    <h2>Requirement Name</h2>
    <h4>{{ content.name.0 }}</h4>
    <br>
    <h2>Description</h2>
    <p>{{ content.description.0 }}</p>
    <br
  {% endif %}
</div>
