{#
/**
 * @file system_entity.html.twig
 * Default theme implementation to present System entity data.
 *
 * This template is used when viewing System entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_system_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('system_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
